.root{
    -fx-background-color: #ffffff;
    background-color: #ffffff;
    -fx-background-radius: 28; 
}

.button{
    -fx-margin-top: 10px;
    margin-top: 10px;
    -fx-justify-content: left;
    justify-content: left;
    -fx-height: 40px;
    height: 40px;
    -fx-width: 40px;
    width: 40px;
    -fx-padding: 10px;
    padding: 10px;
    -fx-background-color: #98ff98;
    background-color: #98ff98;
    -fx-border: none;
    border: none;
    -fx-outline: none;
    outline: none;
    -fx-border-radius: 5px;
    border-radius: 5px;
    -fx-overflow: hidden;
    overflow: hidden;
    -fx-cursor: pointer;
    cursor: pointer;
}
    
.tabs{
    -fx-size: flex;
    size: flex;
    -fx-display: flex;
    display: flex;
    -fx-justify-content: left;
    justify-content: left;
    -fx-list-style-type: none;
    list-style-type: none;
    -fx-margin: 0;
    margin: 0;
    -fx-padding: 0;
    padding: 0;
}